.header
{   display: flex;
    padding:10px 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.header__left > img
{
    width:40px;
    
}

.header__left{
    display: flex;
}
.header__search {
   
   border-radius: 999px;
   background-color:#F0F2F5;
   padding:10px 12px;
   display: flex;
   align-items: center;
   margin-left:10px;
}
.header__search >input
{
    border:none;
    outline-width: 0;
    background-color: transparent;
}