.header
{   display: flex;
    padding:10px 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
}
.header__left > img
{
    width:40px;
    
}

.header__left{
    display: flex;
    color:grey;
}
.header__search {
   
   border-radius: 999px;
   background-color:#F0F2F5;
   padding:10px 12px;
   display: flex;
   align-items: center;
   margin-left:10px;
}
.header__search >input
{
    border:none;
    outline-width: 0;
    background-color: transparent;
}
.header__center
{
    display: flex;
}
.header__options{
    color:grey;
    padding:10px 12px;
    cursor:pointer;
    
}
.header__options:hover
{
color:#1977F3;
background-color: lightgrey;
border-radius: 9px;

}
.active__option{
    border-bottom:3px solid #1977F3;
    color:#1977F3;
}
