.reel{
   min-width:110px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:5px;
    position: relative;
    transition: all 0.3s ease-in;
    cursor: pointer;
    margin-left:10px;
    margin-right:10px;
}
.reel>.MuiAvatar-root {

    border: 3px solid #1977F3;
    margin-left:4px;
    position: absolute;
    top:5%;
    left:3%;
}
.reel > h5{
    position: absolute;
    bottom: 3%;
    color:white;
    left:5%;
}
.reel:hover{
    transform: scale(1.07);
}